body
{
    background-color: antiquewhite;
}
.login
{
    background-color: aquamarine;
    width: 40%;
    height: 40vh;
    margin-top: 10%;
    margin-left: 30%;
}
.form-container
{
    margin-left: 35%;
    /* margin-top: 50%; */
}
#email
{
    margin-top: 20%;
    height: 30%;
    /* padding: 20%; */
}
.pass
{
    margin-top: 20%;
}